<html>
    <head>
        <title>View Cars</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
       
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    </head>
    <body>
<!-- Links (sit on top) -->
<div class="w3-top">
        <div class="w3-row w3-padding w3-black">
          <div class="w3-col s3">
            <a href="{{ url_for('home') }}" class="w3-button w3-block w3-black">HOME</a>
          </div>
          <div class="w3-col s3">
            <a href="{{ url_for('carviewer') }}" class="w3-button w3-block w3-black">CARS</a>
          </div>
          <div class="w3-col s3">
            <a href="{{ url_for('carviewer') }}" class="w3-button w3-block w3-black">IMAGE GALLERY</a>
          </div>
          <div class="w3-col s3">
            <a href="{{ url_for('loggedout') }}" class="w3-button w3-block w3-black">LOGOUT</a>
          </div>
        </div>
      </div>


        <h1>Cars</h1>
        <div> <button id="showCreateButton" onclick="showCreate()">Create</button></div>
        <div>
            <table class="table" id="carTable">
                <tr>
                        <th>id</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Price</th>
                        <th>Update</th>
                        <th>Delete</th>
                </tr>
                
            </table>
        </div>
        <div id='createUpdateForm' style="display: none">
                <h2><span id="createLabel">Create a</span> <span id="updateLabel">update</span> Car</h2>
                <input type="hidden" name="id"/>
                Make <input type="text" name="Make" /><br/>
                Model <input type="text" name="Model"/> <br/>
                Price <input type="number" name="Price"/> <br/>
                <span><button id="doCreateButton" onclick="doCreate()">Create</button></span>
                <span><button id="doUpdateButton" onclick="doUpdate()">Update</button></span>
        </div>
    </body>
    <script>
    function showCreate(){
        document.getElementById('showCreateButton').style.display="none"
        document.getElementById('carTable').style.display="none"
        document.getElementById('createUpdateForm').style.display="block"
        document.getElementById('createLabel').style.display="inline"
        document.getElementById('updateLabel').style.display="none"
        document.getElementById('doCreateButton').style.display="block"
        document.getElementById('doUpdateButton').style.display="none"
    }
    function showViewAll(){
        document.getElementById('showCreateButton').style.display="block"
        document.getElementById('carTable').style.display="block"
        document.getElementById('createUpdateForm').style.display="none"
    }
    function showUpdate(buttonElement){
        document.getElementById('showCreateButton').style.display="none"
        document.getElementById('carTable').style.display="none"
        document.getElementById('createUpdateForm').style.display="block"
        document.getElementById('createLabel').style.display="none"
        document.getElementById('updateLabel').style.display="inline"
        document.getElementById('doCreateButton').style.display="none"
        document.getElementById('doUpdateButton').style.display="block"
        var rowElement = buttonElement.parentNode.parentNode
        // these is a way of finding the closest <tr> which would safer, closest()
        
        var car = getcarFromRow(rowElement)
        populateFormWithcar(car)
    }
    function doCreate(){
        var form = document.getElementById('createUpdateForm')
        var car = {}
       
        car.Make = form.querySelector('input[name="Make"]').value
        car.Model = form.querySelector('input[name="Model"]').value
        car.Price = form.querySelector('input[name="Price"]').value
        console.log(JSON.stringify(car))
        createcarAjax(car)
        
        
    }
    function doUpdate(){
        var car = getcarFromForm();
        var rowElement = document.getElementById(car.id);
        updatecarAjax(car);
        setcarInRow(rowElement,car);
       
        clearForm();
        showViewAll();
    }
    function doDelete(r){
        var tableElement = document.getElementById('carTable');
        var rowElement = r.parentNode.parentNode;
        var index = rowElement.rowIndex;
        deletecarAjax(rowElement.getAttribute("id"));
        tableElement.deleteRow(index);
    }
    function addcarToTable(car){
        var tableElement = document.getElementById('carTable')
        var rowElement = tableElement.insertRow(-1)
        rowElement.setAttribute('id',car.id)
        var cell1 = rowElement.insertCell(0);
        cell1.innerHTML = car.id
        var cell2 = rowElement.insertCell(1);
        cell2.innerHTML = car.Make
        var cell3 = rowElement.insertCell(2);
        cell3.innerHTML = car.Model
        var cell4 = rowElement.insertCell(3);
        cell4.innerHTML = car.Price
        var cell5 = rowElement.insertCell(4);
        cell5.innerHTML = '<button onclick="showUpdate(this)">Update</button>'
        var cell6 = rowElement.insertCell(5);
        cell6.innerHTML = '<button onclick=doDelete(this)>delete</button>'
    }
    function clearForm(){
        var form = document.getElementById('createUpdateForm')
        form.querySelector('input[name="Make"]').value=''
        form.querySelector('input[name="Model"]').value=''
        form.querySelector('input[name="Price"]').value=''
    }
    function getcarFromRow(rowElement){
        var car ={}
        car.id  = rowElement.getAttribute('id')
        car.Make = rowElement.cells[1].firstChild.textContent
        car.Model = rowElement.cells[2].firstChild.textContent
        car.Price = parseInt(rowElement.cells[3].firstChild.textContent,10)
        return car
    }
    function setcarInRow(rowElement, car){
        rowElement.cells[0].firstChild.textContent= car.id  
        rowElement.cells[1].firstChild.textContent= car.Make 
        rowElement.cells[2].firstChild.textContent= car.Model
        rowElement.cells[3].firstChild.textContent= car.Price
    }
    function populateFormWithcar(car){
        var form = document.getElementById('createUpdateForm')
        form.querySelector('input[name="id"]').disabled = true
        form.querySelector('input[name="id"]').value  = car.id
        form.querySelector('input[name="Make"]').value= car.Make
        form.querySelector('input[name="Model"]').value= car.Model
        form.querySelector('input[name="Price"]').value= car.Price
        return car
    }
    function getcarFromForm(){
        var form = document.getElementById('createUpdateForm')
        var car = {}
        car.id = form.querySelector('input[name="id"]').value
        car.Make = form.querySelector('input[name="Make"]').value
        car.Model = form.querySelector('input[name="Model"]').value
        car.Price = parseInt(form.querySelector('input[name="Price"]').value,10)
        console.log(JSON.stringify(car))
        return car
    }
    function getAllAjax(){
        $.ajax({
            "url": "http://127.0.0.1:5000/cars",
            "method":"GET",
            "data":"",
            "dataType": "JSON",
            "success":function(result){
                //console.log(result);
                for (car of result){
                    addcarToTable(car);
                }
                
            },
            "error":function(xhr,status,error){
                console.log("error: "+status+" msg:"+error);
            }
        });
    }
    function createcarAjax(car){
        //var car = {"reg":"12 D 1234","make":"Fiat","model":"Punto","price":3000}
        console.log(JSON.stringify(car));
        $.ajax({
            "url": "http://127.0.0.1:5000/cars",
            "method":"POST",
            "data":JSON.stringify(car),
            "dataType": "JSON",
            contentType: "application/json; charset=utf-8",
            "success":function(result){
                //console.log(result);
                car.id = result.id
                addcarToTable(car)
                clearForm()
                showViewAll()
            },
            "error":function(xhr,status,error){
                console.log("error: "+status+" msg:"+error);
            }
        });
    }
    function updatecarAjax(car){
        //var car = {"reg":"12 D 1234","price":8000}
        console.log(JSON.stringify(car));
        $.ajax({
            "url": "http://127.0.0.1:5000/cars/"+encodeURI(car.id),
            "method":"PUT",
            "data":JSON.stringify(car),
            "dataType": "JSON",
            contentType: "application/json; charset=utf-8",
            "success":function(result){
               // console.log(result);
                  
            },
            "error":function(xhr,status,error){
                console.log("error: "+status+" msg:"+error);
            }
        });
    }
    function deletecarAjax(id){
        
        //console.log(JSON.stringify('deleting '+id));
        $.ajax({
            "url": "http://127.0.0.1:5000/cars/"+encodeURI(id),
            "method":"DELETE",
            "data":"",
            "dataType": "JSON",
            contentType: "application/json; charset=utf-8",
            "success":function(result){
                //console.log(result);
                  
            },
            "error":function(xhr,status,error){
                console.log("error: "+status+" msg:"+error);
            }
        });
    }
    getAllAjax();
  
    
    </script>
</html>